<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <title><%= title %> | Rainbow</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/includes-styles/top-nav.css" />
    <link rel="stylesheet" href="/css/includes-styles/sidebar.css" />
    <link rel="stylesheet" href="/css/common/index.css" />
    <link
      rel="stylesheet"
      href="/css/includes-styles/horizontal-scroll-nav.css"
    />
    <link rel="stylesheet" href="/css/profile/profile.css" />
  </head>
  <body>
    <!-- Navigation -->
    <%- include('../includes/top-nav', {user: user}); %> <%-
    include('../includes/horizontal-scroll-nav', {user: user}); %>

    <div class="container">
      <div class="row">
        <%- include('../includes/sidebar', {user: user}); %>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-3 main-content">
              <div class="wrapper text-center">
                <div class="image-wrapper">
                  <img class="img-fluid" src="<%= user.imageUrl %>" alt="" />
                </div>
                <div class="link-wrapper">
                  <a href="/settings" class="btn btn-primary btn-sm">Edit</a>
                </div>
              </div>

              <div class="wrapper">
                <span>Friends</span>
                <hr />
                <div class="row">
                  <div class="col-4 text-center">
                    <img
                      style="width: 35px; border-radius: 50%"
                      src="<%= user.imageUrl %>"
                      alt=""
                    />
                    <span>Maks</span>
                  </div>
                  <div class="col-4 text-center">
                    <img
                      style="width: 35px; border-radius: 50%"
                      src="<%= user.imageUrl %>"
                      alt=""
                    />
                    <span>Valeriia</span>
                  </div>
                  <div class="col-4 text-center">
                    <img
                      style="width: 35px; border-radius: 50%"
                      src="<%= user.imageUrl %>"
                      alt=""
                    />
                    <span>Maks</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-9 main-content">
              <!-- Main info -->
              <div class="wrapper">
                <div>
                  <h4><%= user.displayName %></h4>
                </div>
                <div><%= user.bio %></div>
                <hr />

                <% if (user.birthday === null && user.gender == "None") { %>
                <div>Additional info is not specified</div>
                <% } %> <% if (user.birthday !== null) { %>
                <div class="row">
                  <div class="col-3">Birthday:</div>
                  <div class="col-9">
                    <%= user.birthday === null ? "None" :
                    user.birthday.toLocaleDateString("en-US", { year: 'numeric',
                    month: 'long', day: 'numeric' }) %>
                  </div>
                </div>
                <% } %> <% if (user.gender !== "None") { %>
                <div class="row">
                  <div class="col-3">Gender:</div>
                  <div class="col-9"><%= user.gender %></div>
                </div>
                <% } %>
              </div>

              <!-- Galery -->
              <div class="wrapper">
                <span>Gallery</span>
                <hr />
                <img style="width: 100px" src="<%= user.imageUrl %>" alt="" />
              </div>

              <!-- Write post -->
              <div class="wrapper" id="write-post">
                <textarea
                  id="postTextArea"
                  rows="1"
									placeholder="What's new?"
									class="textarea"
                ></textarea>
                <hr />
                <div class="d-flex justify-content-between">
                  <div>
                    <button
											id="publishPostButton"
											class="btn btn-sm btn-primary"
											disabled
                    >
                      <span
                        class="spinner spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                        hidden
                      ></span>
                      <span class="status-text">Post</span>
                    </button>
                  </div>

                  <select
                    id="selectPostVisibility"
										class="form-control-sm w-25 select"
                  >
                    <option selected>Public</option>
                    <option>Private</option>
                  </select>
                </div>
              </div>

              <!-- Posts -->

              <div class="wrapper" id="postsHeader">
								Posts
								<div id="haveNoPostsBlock" <%= user.posts.length > 0 ? "hidden" : "" %>>
									<hr />
									<div>You do not have posts :(</div>
								</div>
              </div>

							<% if (user.posts.length > 0) { %> 
								<% for( let index = user.posts.length - 1; index >= 0; index-- ) { %>
								
									<div id="post_<%= user.posts[index]._id %>" class="wrapper post">
										<%# Post Header %>
										<div class="d-flex justify-content-between post-header">
											<%# Writer Details %>
											<div
												class="d-flex justify-content-start post-creator-container"
											>
												<div>
													<img
														style="width: 50px; border-radius: 50%"
														src="<%= user.imageUrl %>"
														alt=""
													/>
												</div>
												<div>
													<div><%= user.displayName %></div>
													<div>
														<%=
														user.posts[index].publicationDate.toLocaleDateString("en-US",
														{ year: 'numeric', month: 'long', day: 'numeric', hour:
														'numeric', minute: "numeric" }) %>
													</div>
												</div>
											</div>
									
											<%# Actions Dropdown %>
											<div class="dropdown">
												<button
													class="btn btn-sm dropdown-toggle"
													type="button"
													data-toggle="dropdown"
													aria-haspopup="true"
													aria-expanded="false"
												>
													<i class="fas fa-chevron-down"></i>
												</button>
												<div class="dropdown-menu dropdown-menu-right">
														<button onclick="postsControls('post_<%= user.posts[index]._id %>', 'deletePost')" class="dropdown-item">Delete</button>
														<button onclick="postsControls('post_<%= user.posts[index]._id %>', 'editPost')" class="dropdown-item">Edit</button>
												</div>
											</div>

										</div>

										<%# Post Body %>
										<div class="text-justify postText">
											<%= user.posts[index].postText %>
										</div>

										<div style="display: none;" class="editPostTextAreaContainer">
											<textarea id="newPostTextArea" class="textarea" rows="1"></textarea>
										</div>

										<hr />
										<%# Post Footer %>
										<div class="post-footer">
											
											<div style="display: none !important;" class="d-flex justify-content-between editPostControlsContainer">
												<div>

													<button onclick="postsControls('post_<%= user.posts[index]._id %>', 'savePost')" class="btn btn-sm btn-primary saveButton">
														<span
															class="spinner spinner-border spinner-border-sm"
															role="status"
															aria-hidden="true"
															hidden
														></span>
														<span class="status-text">Save</span>
													</button>

													<button	class="btn btn-sm btn-secondary" onclick="postsControls('post_<%= user.posts[index]._id %>', 'cancelEditing')">
														<span class="status-text">Cancel</span>
													</button>

												</div>
												
												<select class="form-control-sm w-25">
													<option selected>Public</option>
													<option>Private</option>
												</select>
											</div>
	
											<div class="d-flex justify-content-between postDataContainer">
												<div>Rainbow</div>
												<div class="post-visibility">
													<%= user.posts[index].isPublic ? "Public" : "Private" %>
												</div>
											</div>
										</div>
									</div>
								<% } %>
							<% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e307e9c374.js" crossorigin="anonymous"></script>
    <script src="./javascript/profile/profile.js"></script>
		<script src="./javascript/appearance/styles.js"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script src="./javascript/profile/socket-creator.js"></script>
  </body>
</html>
