<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png" type="image/png">
    <title>Settings | Rainbow</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    >

    <link rel="stylesheet" href="/css/settings/settings.css">
    <link rel="stylesheet" href="/css/common/index.css">
    <link rel="stylesheet" href="/css/common/data-validation.css">
    <link rel="stylesheet" href="/css/includes-styles/top-nav.css">
    <link rel="stylesheet" href="/css/includes-styles/sidebar.css">
    <link rel="stylesheet" href="/css/includes-styles/horizontal-scroll-nav.css">
  </head>
  <body>
    <%- include('../includes/top-nav', {user: user}); %>
    <%- include('../includes/horizontal-scroll-nav', {user: user}); %>
    <div class="container">
      <div class="row">
        <%- include('../includes/sidebar', {user: user}); %>
        <div class="col-lg-10">
          <div class="text-center">
            <h3>Personal Info</h3>
            <p>
              Basic info, like your name and photo, that you use on Google
              services
            </p>
          </div>

          <div class="wrapper">
            <div class="content-header-container">
              <div>
                <h4>Profile</h4>
              </div>
              <div>Some info may be visible to other people.</div>
            </div>

            <hr />

            <!-- Display Photo Field -->
            <div
              class="row content-wrapper"
              id="photo-wrapper"
              data-toggle="modal"
              data-target="#displayPhotoForm"
            >
              <div class="col-md-4">
                <div>Photo</div>
              </div>
              <div class="col-md-6">
                <div>
                  <span>A photo helps personalize your account</span>
                </div>
              </div>
            </div>
            <!-- End of Display Photo Field -->

            <hr class="content-divider" />

            <!-- Display Name Field -->
            <div
              id="name-wrapper"
              class="row content-wrapper"
              data-toggle="modal"
              data-target="#displayNameForm"
            >
              <div class="col-md-4">
                <div>Name</div>
              </div>
              <div class="col-md-8">
                <div id="displayNameContainer"><%= user.displayName %></div>
              </div>
            </div>
            <!-- End of Display Name Field -->

            <hr class="content-divider" />

            <!-- Bio Field -->
            <div
              id="bio-wrapper"
              class="row content-wrapper"
              data-toggle="modal"
              data-target="#bioForm"
            >
              <div class="col-md-4">
                <div>Bio</div>
              </div>
              <div class="col-md-8">
                <div id="bioContainer">
                  <%= user.bio ? user.bio.length > 35 ? user.bio.slice(0, 35) +
                  "..." : user.bio : "None" %>
                </div>
              </div>
            </div>
            <!-- End of Bio Field -->

            <hr class="content-divider" />

            <!-- Birthday Field -->
            <div
              class="row content-wrapper"
              id="birthday-wrapper"
              data-toggle="modal"
              data-target="#birthdayForm"
            >
              <div class="col-md-4">
                <div>Birthday</div>
              </div>
              <div class="col-md-8">
                <div id="birthdayContainer">
                  <%= user.birthday === null ? "None" :
                  user.birthday.toLocaleDateString("en-US", { year: 'numeric',
                  month: 'long', day: 'numeric' }) %>
                </div>
              </div>
            </div>
            <!-- End of Birthday Field -->

            <hr class="content-divider" />

            <!-- Gender Field -->
            <div
              class="row content-wrapper"
              id="gender-wrapper"
              data-toggle="modal"
              data-target="#genderForm"
            >
              <div class="col-md-4">
                <div>Gender</div>
              </div>
              <div class="col-md-8">
                <div id="genderContainer"><%= user.gender %></div>
              </div>
            </div>
            <!-- End of Gender Field -->

            <hr class="content-divider" />

            <!-- Password Field -->
            <div               
              class="row content-wrapper"
              id="change-password-wrapper"
              data-toggle="modal"
              data-target="<%= user.provider == "google" ? "" : "#changePasswordForm" %>"
            >
              <div class="col-md-4">
                <div>Password</div>
              </div>
              <div class="col-md-8">
                <% if (user.provider == "google") { %>
                  <div>Signed in with Google</div>
                <% } else { %>
                  <div class="d-none d-md-block">********</div>
                  <div id="changePasswordContainer">Last changed <%= user.lastChangePassword.toLocaleDateString("en-US", { year: 'numeric',
                    month: 'long', day: 'numeric' }) %></div>
                <% } %>
              </div>
            </div>
            <!-- End of Password Field -->
          </div>

          <div class="wrapper">
            <div class="content-header-container">
              <div>
                <h4>Contact info</h4>
              </div>
            </div>
            <hr />
            <div class="row content-wrapper">
              <div class="col-md-4">
                <div>Email</div>
              </div>
              <div class="col-md-8">
                <div><%= user.email %></div>
              </div>
            </div>
            <hr class="content-divider" />
            <div class="row content-wrapper">
              <div class="col-md-4">
                <div>Phone</div>
              </div>
              <div class="col-md-8">
                <div>0667709787</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- -------- Modals -------- -->

    <!-- Change "Display name" modal -->
    <div
      class="modal fade"
      id="displayNameForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="displayNameFormTitle"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="displayNameTitle">Name</h5>
          </div>
          <div class="modal-body">
            <form id="displayNameForm">
              <div class="form-group">
                <label for="givenNameInput" class="col-form-label">Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="givenNameInput"
                  value="<%= user.givenName %>"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
              <div class="form-group">
                <label for="familyNameInput" class="col-form-label"
                  >Last name:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="familyNameInput"
                  value="<%= user.familyName %>"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="closeFormName"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="formNameButton" class="btn btn-primary">
              <span
                class="spinner spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                hidden
              ></span>
              <span class="status-text">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of "Change display name" modal -->

    <!-- "Change bio" modal -->
    <div
      class="modal fade"
      id="bioForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="bioFormTitle"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bioTitle">Bio</h5>
          </div>
          <div class="modal-body">
            <form id="bioForm">
              <div class="form-group">
                <p class="font-weight-light">
                  Any details such as occupation or city. <br />
                  Example: designer from San Francisco
                </p>
                <textarea
                  maxlength="100"
                  rows="3"
                  class="form-control"
                  id="bioTextArea"
                >
<%= user.bio %></textarea
                >
                <p class="characters-left-container">
                  Characters left: <span class="characters-left">100</span>
                </p>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="closeFormBio"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="formBioButton" class="btn btn-primary">
              <span
                class="spinner spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                hidden
              ></span>
              <span class="status-text">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of "Change bio" modal -->

    <!-- "Change birthday" modal -->
    <div
      class="modal fade"
      id="birthdayForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="birthdayTitle"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="birthdayTitle">Birthday</h5>
          </div>
          <div class="modal-body">
            <form id="birthdayForm">
              <div class="form-row">
                <div class="form-group col-md-5">
                  <label for="inputMonth">Month</label>
                  <select id="inputMonth" class="form-control">
                    <option <%= user.birthday ? "" : "selected" %> >Choose...</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 0 ? "selected" : "" : "" %> >January</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 1 ? "selected" : "" : "" %> >February</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 2 ? "selected" : "" : "" %> >March</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 3 ? "selected" : "" : "" %> >April</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 4 ? "selected" : "" : "" %> >May</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 5 ? "selected" : "" : "" %> >June</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 6 ? "selected" : "" : "" %> >July</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 7 ? "selected" : "" : "" %> >August</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 8 ? "selected" : "" : "" %> >September</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 9 ? "selected" : "" : "" %> >October</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 10 ? "selected" : "" : "" %> >November</option>
                    <option <%= user.birthday ? user.birthday.getMonth() == 11 ? "selected" : "" : "" %> >December</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputYear">Year</label>
                  <input type="text" class="form-control" id="inputYear"
                  value="<%= user.birthday ? user.birthday.getFullYear() : ""
                  %>" />
                </div>

                <div class="form-group col-md-3">
                  <label for="inputDay">Day</label>
                  <input type="text" class="form-control" id="inputDay"
                  value="<%= user.birthday ? user.birthday.getDate() : "" %>" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p class="mr-auto" id="dateStatusText"></p>
            <button
              type="button"
              id="closeFormBirthday"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="formBirthdayButton"
              class="btn btn-primary"
            >
              <span
                class="spinner spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                hidden
              ></span>
              <span class="status-text">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of "Change birthday" modal -->

    <!-- "Change gender" modal -->
    <div
      class="modal fade"
      id="genderForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="genderFormTitle"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="genderTitle">Gender</h5>
          </div>
          <div class="modal-body">
            <form id="genderForm">
              <div class="form-group">
                <select id="inputGender" class="form-control">
                  <option <%= user.gender ? "" : "selected" %> >Choose...</option>
                  <option <%= user.gender ? user.gender == "Female" ? "selected" : "" : "" %> >Female</option>
                  <option <%= user.gender ? user.gender == "Male" ? "selected" : "" : "" %> >Male</option>
                  <option <%= user.gender ? user.gender == "Other" ? "selected" : "" : "" %> >Other</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="closeFormGender"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="formGenderButton" class="btn btn-primary">
              <span
                class="spinner spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                hidden
              ></span>
              <span class="status-text">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of "Change gender" modal -->

    <!-- "Change password" modal -->
    <div
      class="modal fade"
      id="changePasswordForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="changePasswordFormTitle"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changePasswordTitle">Change password</h5>
          </div>
          <div class="modal-body">
            <form id="changePasswordForm">
              <div class="form-group">
                <label for="currentPasswordInput" class="col-form-label">Current password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="currentPasswordInput"
                  placeholder="Current password"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
              <div class="form-group">
                <label for="newPasswordInput" class="col-form-label"
                  >New password:</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="newPasswordInput"
                  placeholder="New password"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
              <div class="form-group">
                <label for="repeatNewPasswordInput" class="col-form-label"
                  >Repeat new password:</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="repeatNewPasswordInput"
                  placeholder="Repeat your new password"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="closeFormChangePassword"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="formChangePasswordButton" class="btn btn-primary">
              <span
                class="spinner spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                hidden
              ></span>
              <span class="status-text">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of "Change password" modal -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e307e9c374.js" crossorigin="anonymous"></script>
    <script type="module" src="./javascript/settings/changeName.js"></script>
    <script type="module" src="./javascript/settings/changeBio.js"></script>
    <script type="module" src="./javascript/settings/changeBirthday.js"></script>
    <script type="module" src="./javascript/settings/changeGender.js"></script>
    <script type="module" src="./javascript/settings/changePassword.js"></script>
    <script src="./javascript/appearance/styles.js"></script>
  </body>
</html>
