<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <title><%= title %> | Rainbow</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/includes-styles/top-nav.css" />
    <link rel="stylesheet" href="/css/includes-styles/sidebar.css" />
    <link rel="stylesheet" href="/css/common/index.css" />
		<link rel="stylesheet" href="/css/includes-styles/horizontal-scroll-nav.css"/>
		<link rel="stylesheet" href="/css/profile/profile.css" />
  </head>
  <body>
    <!-- Navigation -->
    <%- include('../includes/top-nav', {user: currentUser}); %> <%-
    include('../includes/horizontal-scroll-nav', {user: currentUser}); %>

    <div class="container">
      <div class="row">
        <%- include('../includes/sidebar', {user: currentUser}); %>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-3 main-content">
              <div class="wrapper text-center">
                <div class="image-wrapper">
                  <img class="img-fluid" src="<%= user.imageUrl %>" alt="" />
								</div>
								<div class="link-wrapper">
									<button class="btn-sm btn btn-primary" onclick="addFriend('<%= user._id %>')">Add a friend</button>
								</div>
              </div>

              <div class="wrapper">
                <span>Friends</span>
                <hr />
                <div class="row">
									<% if (friends.length > 0) { %>
										<% for( let i = 0; i < friends.length; i++ ) { %>
											<div class="col-4 text-center friend-link">
												<a href="/<%= friends[i].profileId %>">
													<img
														style="width: 35px; border-radius: 50%"
														src="<%= friends[i].imageUrl %>"
														alt=""
													/>
													<span><%= friends[i].givenName %></span>
												</a>
											</div>
										<% } %>
									<% } else {%>
										<div>It's empty here</div>
									<% } %>
                </div>
              </div>
            </div>

            <div class="col-lg-9 main-content">
              <!-- Main info -->
              <div class="wrapper">
                <div>
                  <h4><%= user.displayName %></h4>
                </div>
                <div class="text-break"><%= user.bio %></div>
                <hr />

                <% if (user.birthday === null && user.gender == "None") { %>
                <div>Additional info is not specified</div>
                <% } %> <% if (user.birthday !== null) { %>
                <div class="row">
                  <div class="col-3">Birthday:</div>
                  <div class="col-9">
                    <%= user.birthday === null ? "None" :
                    user.birthday.toLocaleDateString("en-US", { year: 'numeric',
                    month: 'long', day: 'numeric' }) %>
                  </div>
                </div>
                <% } %> <% if (user.gender !== "None") { %>
                <div class="row">
                  <div class="col-3">Gender:</div>
                  <div class="col-9"><%= user.gender %></div>
                </div>
                <% } %>
              </div>

              <!-- Galery -->
              <div class="wrapper">
                <span>Gallery</span>
                <hr />
                <img style="width: 100px" src="<%= user.imageUrl %>" alt="" />
							</div>
							

							<!-- Posts -->
							<div class="wrapper" id="postsHeader">
								<div>Posts</div>
								<div id="haveNoPostsBlock" <%= user.posts.length > 0 ? "hidden" : "" %>>
									<hr />
									<div><%= user.givenName %> have no posts :(</div>
								</div>
							
							</div>

							<% if (posts.length > 0) { %>
								<% for(let i = posts.length - 1; i >= 0; i--) { %> 
									<div id="post_<%= user.posts[i]._id %>" class="wrapper post">
										<div class="d-flex justify-content-between post-header">
											<div
												class="d-flex justify-content-start post-creator-container"
											>
												<div>
													<img
														style="width: 50px; border-radius: 50%"
														src="<%= user.imageUrl %>"
														alt=""
													/>
												</div>
												<div>
													<div><%= user.displayName %></div>
													<div>
														<%=
															posts[i].publicationDate.toLocaleDateString("en-US",
															{ year: 'numeric', month: 'long', day: 'numeric',
															hour: 'numeric', minute: "numeric" }) 
														%>
													</div>
												</div>
											</div>
										</div>

										<div class="text-justify postText text-break">
											<%= posts[i].postText %>
										</div>

										<hr />

										<div class="post-footer">Rainbow</div>
									</div>
								<% } %> 
							<% } %>
            </div>
          </div>
        </div>
      </div>
		</div>
		
		<div aria-live="polite" aria-atomic="true" class=" fixed-bottom">
			<div class="toast-container"></div>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e307e9c374.js" crossorigin="anonymous"></script>
		<script src="./javascript/appearance/styles.js"></script>

		<script src="/socket.io/socket.io.js"></script>
		
		<script src="./javascript/common/notification.js"></script>
		<script src="./javascript/profile/socket-watcher.js"></script>
  </body>
</html>
