<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <title><%= title %> | Rainbow</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/includes-styles/top-nav.css" />
    <link rel="stylesheet" href="/css/includes-styles/sidebar.css" />
    <link rel="stylesheet" href="/css/common/index.css" />
    <link
      rel="stylesheet"
      href="/css/includes-styles/horizontal-scroll-nav.css"
    />
    <link rel="stylesheet" href="/css/profile/profile.css" />
  </head>
  <body>
    <!-- Navigation -->
    <%- include('../includes/top-nav', {user: currentUser}); %> <%-
    include('../includes/horizontal-scroll-nav', {user: currentUser}); %>

    <div class="container">
      <div class="row">
        <%- include('../includes/sidebar', {user: currentUser}); %>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-3 main-content">
              <div class="wrapper text-center">
                <div class="image-wrapper">
                  <img class="img-fluid" src="<%= user.imageUrl %>" alt="" />
                </div>
              </div>

              <div class="wrapper">
                <span>Friends</span>
                <hr />
                <div class="row">
                  <div class="col-4 text-center">
                    <img
                      style="width: 35px; border-radius: 50%"
                      src="<%= user.imageUrl %>"
                      alt=""
                    />
                    <span>Maks</span>
                  </div>
                  <div class="col-4 text-center">
                    <img
                      style="width: 35px; border-radius: 50%"
                      src="<%= user.imageUrl %>"
                      alt=""
                    />
                    <span>Valeriia</span>
                  </div>
                  <div class="col-4 text-center">
                    <img
                      style="width: 35px; border-radius: 50%"
                      src="<%= user.imageUrl %>"
                      alt=""
                    />
                    <span>Maks</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-9 main-content">
              <!-- Main info -->
              <div class="wrapper">
                <div>
                  <h4><%= user.displayName %></h4>
                </div>
                <div><%= user.bio %></div>
                <hr />

                <% if (user.birthday === null && user.gender == "None") { %>
                <div>Additional info is not specified</div>
                <% } %> <% if (user.birthday !== null) { %>
                <div class="row">
                  <div class="col-3">Birthday:</div>
                  <div class="col-9">
                    <%= user.birthday === null ? "None" :
                    user.birthday.toLocaleDateString("en-US", { year: 'numeric',
                    month: 'long', day: 'numeric' }) %>
                  </div>
                </div>
                <% } %> <% if (user.gender !== "None") { %>
                <div class="row">
                  <div class="col-3">Gender:</div>
                  <div class="col-9"><%= user.gender %></div>
                </div>
                <% } %>
              </div>

              <!-- Galery -->
              <div class="wrapper">
                <span>Gallery</span>
                <hr />
                <img style="width: 100px" src="<%= user.imageUrl %>" alt="" />
							</div>
							

							<!-- Posts -->
							<div class="wrapper" id="postsHeader">
								<div>Posts</div>
								<% if (posts.length <= 0) { %>
									<hr>
									<div><%= user.givenName %> have no posts :(</div>
								<% } %>
							</div>

							<% if (posts.length > 0) { %>
								<% for(let i = posts.length - 1; i >= 0; i--) { %> 
									<div class="wrapper">
										<div class="d-flex justify-content-between post-header">
											<div
												class="d-flex justify-content-start post-creator-container"
											>
												<div>
													<img
														style="width: 50px; border-radius: 50%"
														src="<%= user.imageUrl %>"
														alt=""
													/>
												</div>
												<div>
													<div><%= user.displayName %></div>
													<div>
														<%=
															posts[i].publicationDate.toLocaleDateString("en-US",
															{ year: 'numeric', month: 'long', day: 'numeric',
															hour: 'numeric', minute: "numeric" }) 
														%>
													</div>
												</div>
											</div>
										</div>

										<div class="text-justify">
											<%= posts[i].postText %>
										</div>

										<hr />

										<div class="post-footer">Rainbow</div>
									</div>
								<% } %> 
							<% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e307e9c374.js" crossorigin="anonymous"></script>
		<script src="./javascript/appearance/styles.js"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script src="./javascript/profile/socket-watcher.js"></script>
  </body>
</html>
