<div class="col-lg-2 sidebar-friends d-none d-lg-block">
	<ul class="sidebar-items">
		<li class="sidebar-item <%= path2 === 'friends' ? 'active' : '' %>">
			<a href="/friends">
				<span>Search friends</span>
			</a>
		</li>
		<li class="sidebar-item <%= path2 === 'yourFriends' ? 'active' : '' %>">
			<a href="/friends/your-friends">
				<span>Your friends</span>
			</a>
		</li>
		<li class="sidebar-item <%= path2 === 'pendingRequests' ? 'active' : '' %>">
			<a href="/friends/pending-requests">
				<div class="d-flex justify-content-between">
					<span <%= requestsCounter == 0 ? "hidden" : "" %> class="counter text-center"><%= requestsCounter %></span>
					<span class="ms-auto">Pending</span>
				</div>
			</a>
		</li>
	</ul>
</div>