<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pending requests | Rainbow</title>
    <link rel="stylesheet" href="/css/common/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/includes-styles/top-nav.css" />
    <link rel="stylesheet" href="/css/includes-styles/sidebar.css" />
		<link rel="stylesheet" href="/css/includes-styles/horizontal-scroll-nav.css" />
		<link rel="stylesheet" href="/css/friends/pending-requests.css">
  </head>
  <body>
    <!-- Navigation -->
		<%- include('../includes/top-nav', {user: user}); %> 
		<%- include('../includes/horizontal-scroll-nav', {user: user}); %>

    <div class="container">
      <div class="row">
        <%- include('../includes/sidebar', {user: user}); %>
        <div class="col-lg-8">
          <h3>Pending requests</h3>
					<hr />

					<div id="haveNoFriendsBlock" <%= users.length > 0 ? "hidden" : "" %>>
						<h3 class="mt-5 text-center">You do not have pending requests</h3>
					</div>

					<% if (users.length > 0) { %>
						<% for( let i = 0; i < users.length; i++ ) { %>
							<div id="request_<%= users[i]._id %>" class="request-card">
								<div class="row">
									<div class="col-md-2 image-container">
										<img src="<%= users[i].imageUrl %>" alt="">
									</div>
									<div class="col-md-10">
										<div>
											<%= users[i].displayName %>
										</div>
										<hr>
										<div class="text-break">
											<%= users[i].bio %>
										</div>
									</div>
								</div>
								<div class="d-flex buttons-container">
									<div class="ms-auto">
										<button class="btn btn-sm btn-primary" onclick="acceptRequest(`<%= users[i]._id %>`)">Accept request</button>
										<button class="btn btn-sm btn-secondary" onclick="declineRequest(`<%= users[i]._id %>`)">Decline</button>
									</div>
								</div>
							</div>
						<% } %>
					<% }%>
				</div>
				<%- include('../includes/friends-sidebar') %> 
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
		<script src="https://kit.fontawesome.com/e307e9c374.js" crossorigin="anonymous"></script>
		<script src="/socket.io/socket.io.js"></script>
		
    <script src="../javascript/appearance/styles.js"></script>
		<script src="../javascript/friends/friends.js"></script>
  </body>
</html>
